<%- include('./base/header.ejs') %> 
<main>

<% if (jobs.length > 0) {%>
<h2>Nos dernières offres</h2>
<% for(var i=0; i<jobs.length; i++) {%>
<% } %>
<% } %>
<a href="/search">voir toutes les offres</a>





<div>
<h2>Candidature spontanée</h2>

<p>Aucune offre ne vous correspond ? N’hésitez pas à déposer une candidature spontanée.</p>

<a href="/cv">Charger mon cv</a>
</div>

</main>
