<html>
<head>
<style>
header {
	width: 100%;
	text-align: center;
}
.mynewcity, .mynewjob, .mynewskill {
	color: white;
	font-weight: 700;
}
.jobdescription{
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 3;
display: -webkit-box;
-webkit-box-orient: vertical;
}
main {
width:100%;
float:left;
}
.mycolumn {
width:40%;
float:left;
padding-left:50px;
}
</style>
</head>
<body>
<a href="/cv">ajouter mon cv/soumettre ma candidature</a>
<header>
<h1>
Nos offres d'emploi
</h1>
<label for="search">
saisir un métier ou un mot clé</label>
<input type="text" id="search" name="search" placeholder="saisir un métier ou un mot clé"/>
<div>ville
<label for="ville1">
<input id="ville1" type="checkbox" name="ville" value="1"/>
orly
</label>
</div>
<div>secteur
<label for="ville1">
<input id="ville1" type="checkbox" name="ville" value="1"/>
gestion de projet et produit
</label>

</div>
<div>contrat
<label for="ville1">
<input id="ville1" type="checkbox" name="ville" value="1"/>
cdi
</label>

</div>
<div>entreprise
<label for="ville1">
<input id="ville1" type="checkbox" name="ville" value="1"/>
air caraibe
</label>

</div>
</header>


